.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 75vw;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(244, 201,72,255);
  }
  