/* General Style */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appMain {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin-left: 1rem;
}

button {
  background-color: rgba(244, 201, 72, 255);
  border-color: rgba(244, 201, 72, 255);
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin: 0.5rem;
  border-radius: 1rem;
}

.spinner {
  height: 25%;
  width: 25%;
}

/* Navigation */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(248, 248, 255);
  display: flex;
  justify-content: space-between;
}

.navIcon {
  height: 2rem;
  width: 2rem;
  padding: 1rem;
}

/* Search and Controls */

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 75vw;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(244, 201,72,255);
  }

.controlsBar{
  display: flex;
  justify-content: space-around;
  }
  
  .selectQuantity {
      background-color: rgba(244, 201, 72, 255);
      border-color: rgba(244, 201, 72, 255);
      border-radius: 0.5rem;
      color: rgb(255, 255, 255);
      font-weight: 400;
      width: 3rem;
      height: 3rem;
  }


/* Recipes */
.recipeListContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;

}
.recipeImage {
  border-radius: 0.5rem;
  width: 30%;
}

.recipeListInfo {
  display: flex;

}

.recipeTitle {
  font-size: small;
}

.addButton {
  width: fit-content;
}






/* Homepage */

.categoriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.categoryCard {
  background-color: rgba(244, 201, 72, 255);
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  grid-template-rows: 20vh 10vh;
  height: 30vh;
}

.categoryPicture {
  height: 100%;
  width: auto;
  align-self: start;
}

.categoryTitle {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 0.5rem;
  align-self: flex-end;
}

.lunchIcon,
.dinnerIcon {
  height: 65%;
  width: auto;
  align-self: flex-end;
}

/* Search Page */
.searchFilters {
  display: flex;
  justify-content: space-around;
}

.filterButton {
  background-color: rgb(211, 211, 211);
  border-color: rgb(211, 211, 211);
  font-weight: 400;
  width: 5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  border-style: solid;
}