/* General Style */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appMain {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.appFooter {
  position: sticky;
  z-index: 1;
}

.button {
  background-color: rgba(244, 201, 72, 255);
  border-color: rgba(244, 201, 72, 255);
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin: 0.5rem;
  border-radius: 1rem;
}


.spinner {
  height: 25%;
  width: 25%;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 3rem;
}

.navIcon {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem
}

/* Homepage */
.categoriesContainer {
  display: flex;
  justify-content: space-around;

}

.categoryCard {
  background-color: rgba(244, 201, 72, 255);
  height: 8rem;
  width: 40vw;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
}

.categoryTitle {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left:0.5rem
}
.lunchIcon, .dinnerIcon {
  height: 65%;
  width: auto;
  align-self: flex-end;
}
/* Search Page */
.searchFilters {
  display: flex;
}